@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #000;
  --light: #efefef;
  --mainColor: #fff;
  --gray: #555;
  --lightGray: #777;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_div {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
  background-image: url(https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  color: #fff;
  box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 5px 5px 7px -3px rgba(0, 0, 0, 0.53);
}

.header_section {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_section p {
  font-size: 1.5rem;
  font-weight: 600;
}

.header_section h1 {
  text-transform: uppercase;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

.footer_div {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 1rem;
}

.footer_div .card_number {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

.footer_div .valid_div {
  display: flex;
}

.footer_div .valid_div p {
  margin: 0 1rem;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer_div .user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_div .user_details p {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer_div .visa h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-style: italic;
}

.footer_div .visa p {
  font-size: 0.8rem;
  text-align: right;
}
